body {
    font-family: Verdana, sans-serif;
}


#nomePaciente {
    margin-right: 20px;
}

.chart-container {
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 15px;
}

#tableDiv {
    overflow: auto;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

td,th {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

button {
    font-size: 1em;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    #nomePaciente {
        margin-right: 0;
    }
}